<% content_for :body_content_title do %>
  <%= @job.title %>
<% end %>

<% content_for :body_content_left do %>

  <div>
     <h1>Job Application for <%= @job.title%> position</h2>
  </div>
 Your job application for the <b><%= @job.title%></b> position was successfully submitted. <br><br>
Thank you.
    <BR>
<% end %>

<% content_for :body_content_right do %>

<% end %>

<%= render :partial => "/refinery/content_page" %>
