<% content_for :body_content_title do %>
  <%= @job.title %>
<% end %>

<% content_for :body do %>
  <p><%= raw t('.job_application_successfully_submitted', job_title: @job.title) %></p>

  <p><%= link_to t('.back_to_list'), refinery.jobs_jobs_path %></p>
<% end %>

<%= render :partial => "/refinery/content_page" %>
