<% content_for :body_content_title do %>
  <h1><%= t('.current_open_positions') %></h1>
<% end %>

<% content_for :body do %>
  <% if @jobs.any? %>
    <section>
      <ul id="jobs">
        <% @jobs.each do |job| %>
          <li>
            <%= link_to job.title, refinery.jobs_job_url(job) %>
          </li>
        <% end %>
      </ul>
    </section>
  <% else %>
    <%= t('.no_open_positions') %>
  <% end %>
<% end %>

<%= render :partial => "/refinery/content_page" %>